doctype html
html.no-js(lang='en', dir='ltr')
  head
    title console.log('here');
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    header
      h1.grid-container Oh JavaScript, you crazy!
    div.grid-container
      div.grid-x.grid-padding-x
        div.large-12.medium-12.cell
          block content

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/jquery.sparkline.min.js')
    script(src='/js/vendor/what-input.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/app.js')
