html, body{
  background: #f8f8f8;
  color: #444;
}

header{
  background: #1779ba;
  margin: 0 0 1em;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.15);
  padding: 1em;
  box-shadow: 0px 0.5em 0.5em 0 rgba(0, 0, 0, 0.15);
}

.timer{
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0px 0.5em 0.5em -0.25em rgba(0, 0, 0, 0.15);
  background: #fff;
  margin-bottom: 1em;
  transition: all ease 0.25s;
}

.timer .result{
  font-size: 1.15em;
  margin-top: 0.2em;
  text-align: center;
}

.timer.running{
  opacity: 0.75;
}

label{
  display: inline-block;
}

.sparkline{
  margin-top: 0.5em;
}

code input[type="number"]{
  display: inline-block;
  font-size: 0.95em;
  padding: 0 0.1em;
  width: 4em;
  height: auto;
  position: relative;
  top: -1px;
}

.clock{
  position: fixed;
  z-index: 5;
  top: 0.5em;
  right: 0.5em;
  background: #fff;
  padding: 0.5em 1em;
  font-family: monospace;
  font-size: 2em;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0px 0.5em 0.5em -0.25em rgba(0, 0, 0, 0.15);
}
